body {
     margin: 0;
     padding: 0;
}

th > div, td > div {
   width: 35px;
   overflow: hidden;
}

td > div {
  font-size: 10px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .2s ease .05s;
}

td:hover > div {
  opacity: 1;
}

.deposit_paid {
  background-color: #bdc3c7;
}

.deposit_paid.Mon {
  background: repeating-linear-gradient(
    45deg,
    #bdc3c7,
    #bdc3c7 5px,
    #eeeeee 5px,
    #eeeeee 10px
  );
}

.available {
  background-color: #87d37c;
}

.available.Mon {
  background: repeating-linear-gradient(
    45deg,
    #87d37c,
    #87d37c 5px,
    #c8f7c5 5px,
    #c8f7c5 10px
  );
}

.tentative {
  background-color: #f4d03f;
}

.tentative.Mon {
  background: repeating-linear-gradient(
    45deg,
    #f4d03f,
    #f4d03f 5px,
    #f1e0a5 5px,
    #f1e0a5 10px
  );
}

.mentor {
  background-color: #59abe3;
}

.mentor.Mon {
  background: repeating-linear-gradient(
    45deg,
    #59abe3,
    #59abe3 5px,
    #89c4f4 5px,
    #89c4f4 10px
  );
}
