<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <table border=1>
      <thead>
        <tr>
          <th>Week Start</th>
          {# TODO(AMK): color red/green/yellow if we've booked too few or too many #}
          {% for room_type in ROOM_TYPES %}
            <th>Min {{room_type}}</th>
            <th>Max {{room_type}}</th>
            <th>Booked {{room_type}}</th>
          {% endfor %}
          <th> Hotels </th>
        </tr>
      </thead>
      <tbody>
        {% for start_date, week in weekly_status %}
          <tr>
            <td>{{ start_date.strftime("%b %d") }}</td>
            {% for room_type in ROOM_TYPES %}
              <td>{{ week.capacity[room_type].min }}</td>
              <td>{{ week.capacity[room_type].max }}</td>
              <td>{{ week.booked[room_type] | count }} </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <h3>Sources</h3>
      <ul>
        <li>
          <a href="https://docs.google.com/spreadsheets/d/1VSbTcII_1VL7GUsSUKVxwf8pDwhgy0RsNsRD1e9TGwM/edit#gid=0"><strong>Hotel</strong> dates and min/max room types available</a>
        </li>
        <li>
          <a href="https://docs.google.com/spreadsheets/d/1yHVrv3n1QF3_iB4Qzu-349fmCyZnnZT87knqy4ARLCo/edit#gid=804127553"><strong>Bookings</strong> deposit confirmations</a>
        </li>
      </ul>
      <p>
        Please update these (especially hotels) as necessary.
      </p>
    </div>
  </body>
</html
