<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <table border=1>
      <thead>
        <tr>
          <th>Week Start</th>
          {# TODO(AMK): color red/green/yellow if we've booked too few or too many #}
          {% for room_type in ROOM_TYPES %}
            <th>Min {{room_types}}</th>
            <th>Max {{room_types}}</th>
            <th>Booked {{room_types}}</th>
          {% endfor %}
          <th> Hotels </th>
        </tr>
      </thead>
      <tbody>
        {% for start_date, week in weekly_status %}
          <tr>
            <td>{{ start_date.strftime("%b %d") }}</td>
            {% for room_type in ROOM_TYPES %}
              <td>{{ week.capacity[room_type].min }}</td>
              <td>{{ week.capacity[room_type].max }}</td>
              <td>{{ week.booked[room_type] | count }} </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html
