<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Room</th>
      {% for date in calendar_date_range %}
        <th>{{ date.strftime("%b %d") }}</th>
      {% endfor %}
      </tr>
      {% for room in rooms %}
      <tr>
        <td> {{ room }} </td>
        {% for date in calendar_date_range %}
          <td>
            Occupied
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html
