<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <table>
      <tr>
        <th>Room</th>
      {% for date in calendar_date_range %}
        <th>
	  <div>
	    {{ date.strftime("%a %b %d") }}
	  </div>
	</th>
      {% endfor %}
      </tr>
      {% for room in rooms %}
      <tr>
        <td> {{ room }} </td>
        {% for date in calendar_date_range %}
          {% if date in dates_occupied_by_room[room] %}
	    <td class="{{ dates_occupied_by_room[room][date] }} {{ date.strftime('%a') }} ">
	      <div />
	    </td>
          {% else %}
	    <td class="available {{ date.strftime('%a') }}">
	      <div />
	    </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html
