<html>
  <head>
    <link rel="stylesheet" href="/bower_components/pikaday/css/pikaday.css">
  </head>
  <body>
    <form action="/search" method="get">
      <label for="start_date">Start Date: </label>
      <input id="start_date" type="text" name="start_date">
      <label for="end_date">End Date: </label>
      <input id="end_date" type="text" name="end_date">
      <button type="submit">Search</button>
    </form>
    <script src="bower_components/pikaday/pikaday.js"></script>
    <script>
      new Pikaday({ field: document.getElementById('start_date'),
        onSelect: function(startDate) {
          var endDate = pikaEndDate.getDate();
          if (endDate == null || endDate <= startDate) {
            endDate = new Date(startDate.getTime());
            endDate.setDate(startDate.getDate() + 7);
            pikaEndDate.setDate(endDate);
          }
        }
      });
      var pikaEndDate = new Pikaday({ field: document.getElementById('end_date') });
    </script>
  </body>
</html>
