<html>
  <head>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
  </head>
  <script>
    $(function() {
      $( "#start_date" ).datepicker();
    });
    $(function() {
      $( "#end_date" ).datepicker();
    });
  </script>
  <body>
    <form action="/search" method="get">
      <label for="start_date">Start Date: </label>
      <input id="start_date" type="text" name="start_date">
      <label for="end_date">End Date: </label>
      <input id="end_date" type="text" name="end_date">
      <button type="submit">Search</button>
    </form>
  </body>
</html>
